= simple_form_for @couple do |f|
  - if @couple.errors.any?
    #error_explanation
      %h2= "#{pluralize(@couple.errors.count, "error")} prohibited this couple from being saved:"
      %ul
        - @couple.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :leader_id, collection: Leader.all.sort_by { |leader | leader.first_name  }, label_method: :name, prompt: true
  .field
    = f.input :follower_id, collection: Follower.all.sort_by { |fol | fol.first_name  }, label_method: :name, prompt: true
  .field
    = f.input :link, label: "Link to webpage"
  .field
    = f.input :start, prompt: true
  .field
    = f.input :end, prompt: true
  .actions
    = f.button :submit
