%h1 Listing couples

%table
  %thead
    %tr
      %th Follower
      %th Leader
      %th Known dances
      %th Start
      %th End
      %th
      %th
      %th

  %tbody
    - @couples.each do |couple|
      %tr
        %td= link_to couple.follower.name, artist_path(couple.follower_id)
        %td= link_to couple.leader.name, artist_path(couple.leader_id)
        %td= couple.dances.count
        %td= couple.start
        %td= couple.end
        %td= link_to 'Show', couple
        %td= link_to 'Edit', edit_couple_path(couple)
        %td= link_to 'Destroy', couple, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Couple', new_couple_path
