.medium-12.columns
  %nav{"aria-label" => "You are here:", :role => "navigation"}
  %ul.breadcrumbs
    %li
      %a{:href => welcome_index_url} Home
    %li
      %a{:href => dances_url} Dances
    %li
      %span.show-for-sr Current:
      = "ID=" +  @couple.id.to_s
  %ul.breadcrumbs
    %li
      = link_to 'Edit', edit_couple_path(@couple)
    %li
      = link_to 'Back', couples_path
    %li
      = link_to 'Add new', new_dance_path

.medium-8.columns
  %p#notice= notice

  %h3
    = @couple.name

  %h4
    TMDD Dances
  %table
    %tbody
      %thead
        %td= "Date"
        %td= "Video Date"
        %td= "Location"
        %td= "Youtube ID"
        %td
      - @dances.each do |row|
        %tr
          %td= row.date
          %td= row.video_date
          %td= row.location
          %td= row.youtube_id
          %td= link_to "view", dance_path(row)


  %h4
    More Videos
    %p
      also on google
      =link_to "google", "https://www.google.lu/?q=#{sanitize(@couple.name)}#"

  - @results.items.each do |response|
    - yt_id = YoutubeID.from(response.uri)
    - if Dance.find_by_youtube_id(yt_id)
    - else
      %p
        =response.title.html_safe
        =link_to "add to TMDD", dance_add_path(video: YoutubeID.from(response.uri), couple: @couple.id)
        =Yt::Video.new(url: response.uri).embed_html.html_safe

.medium-3.columns{"data-sticky-container" => ""}
  .sticky{"data-anchor" => "content", "data-sticky" => ""}
    %h4
      Couple Metadata
    %p
      %b Started dancing
      = @couple.start
    %p
      %b Ended dancing
      = @couple.end
