= simple_form_for @artist do |f|
  - if @artist.errors.any?
    #error_explanation
      %h2= "#{pluralize(@artist.errors.count, "error")} prohibited this artist from being saved:"
      %ul
        - @artist.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :first_name
  .field
    = f.input :last_name
  .field
    = f.input :sex, collection: [:male, :female], as: :radio_buttons
  .field
    = f.input :type, collection: ["Leader", "Follower"], as: :radio_buttons

  .actions
    = f.button :submit
