%h1 List of artists
= link_to 'New Artist', new_artist_path, :class => 'small button'

%table
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Gender
      %th Role
      %th
      %th

  %tbody
    - @artists.each do |artist|
      %tr
        %td= artist.first_name
        %td= artist.last_name
        %td= artist.sex
        %td= artist.type
        %td= link_to 'Edit', edit_artist_path(artist), :class => 'tiny button'
        %td= link_to 'Destroy', artist_path(artist), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'tiny alert button'

%br

