%p#notice= notice

%h2
  = @artist.first_name + " " + @artist.last_name
%p
  %b Sex:
  = @artist.sex
%p
  %b Role:
  = @artist.type

%h3
  Couples
%table
  %tbody
    %thead
      %td= "Follower"
      %td= "Leader"
      %td= "Dances"
    - @artist.couples.each do |row|
      %tr
        %td= row.follower.name
        %td= row.leader.name
        %td= link_to (row.dances.count.to_s + " known"), couple_path(row.id)




= link_to 'Edit', edit_artist_path(@artist)
\|
= link_to 'Back', artists_path(@artist)
