= simple_form_for @form do |f|
  - if @form.errors.any?
    #error_explanation
      %h2= "#{pluralize(@form.errors.count, "error")} prohibited this dance from being saved:"
      %ul
        - @form.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :couple_id, collection: Couple.all, label_method: :name, prompt: true
  .field
    = f.input :date, prompt: true
  .field
    = f.input :location
  .field
    = f.input :link
  .field
    = f.input :song_id, collection: Song.all, label_method: :to_s, prompt: true
  .actions
    = f.button :submit
