%h1 Listing dances

%table
  %thead
    %tr
      %th Date
      %th Video Date
      %th Couple
      %th Music
      %th Location
      %th Link
      %th
      %th
      %th

  %tbody
    - @dances.each do |dance|
      %tr
        %td= dance.date
        %td= dance.video_date
        %td= link_to dance.couple.name, couple_path(dance.couple)
        %td= link_to dance.song.to_s, songs_path(dance.song)
        %td= dance.location
        %td= link_to 'link', dance.link
        %td= link_to 'Show', dance
        %td= link_to 'Edit', edit_dance_path(dance)
        %td= link_to 'Destroy', dance, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Dance', new_dance_path
