.medium-12.columns
  %nav{"aria-label" => "You are here:", :role => "navigation"}
  %ul.breadcrumbs
    %li
      %a{:href => welcome_index_url} Home
    %li
      %a{:href => dances_url} Dances
    %li
      %span.show-for-sr Current:
      = "ID=" +  @dance.id.to_s
  %ul.breadcrumbs
    %li
      = link_to 'Edit', edit_dance_path(@dance)
    %li
      = link_to 'Add new', new_dance_path

.medium-8.columns

  %p#notice= notice

  %h3
    = link_to @dance.couple.name, couple_path(@dance.couple)
  %h4
    = @dance.location + ", " + @dance.video_date.stamp("15. Oct 2016").to_s rescue ""
  %p
    %b Music:
    = @dance.song.to_s
  %p
    = @video.embed_html.html_safe
  = link_to 'Edit', edit_dance_path(@dance)
  \|
  = link_to 'Back', dances_path

.medium-3.columns{"data-sticky-container" => ""}
  .sticky{"data-anchor" => "content", "data-sticky" => ""}
    %h4
      Youtube Metadata
    %p
      %b Video ID:
      = link_to @dance.youtube_id, @dance.link
    %p
      %b Published:
      = @video.published_at.stamp("15. Oct 2016")
    %p
      %b= @video.title
      %p= @video.description

