%h1 Listing songs

%table
  %thead
    %tr
      %th Title
      %th Orchestra
      %th # of dances
      %th
      %th
      %th

  %tbody
    - @songs.each do |song|
      %tr
        %td= song.title.titleize
        %td= song.orchestra.titleize
        %td= song.dances.count
        %td= link_to 'Show', song
        %td= link_to 'Edit', edit_song_path(song)
        %td= link_to 'Destroy', song, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Song', new_song_path
