.medium-12.columns
  %nav{"aria-label" => "You are here:", :role => "navigation"}
  %ul.breadcrumbs
    %li
      %a{:href => welcome_index_url} Home
    %li
      %a{:href => songs_url} Songs
    %li
      %span.show-for-sr Current:
      = "ID=" +  @song.id.to_s
  %ul.breadcrumbs
    %li
      = link_to 'Edit', edit_song_path(@song)
    %li
      = link_to 'Back', songs_url
    %li
      = link_to 'Add new', new_song_path

.medium-8.columns
  %p#notice= notice

  %h2
    = @song.to_s

  %h4
    Known Dances
  %table
    %tbody
      %thead
        %td= "Couple"
        %td= "Location"
        %td= "Date"
        %td= "Link"
      - @dances.each do |row|
        %tr
          %td= row.couple.name
          %td= row.location
          %td= row.video_date.nil? ? row.date : row.video_date
          %td= link_to "link", dance_path(row)


  %h4
    More about this song

  - @results.items.each do |response|
    %p
      =response.title.html_safe
      =link_to "add to TMDD", new_dance_path
      =Yt::Video.new(url: response.uri).embed_html.html_safe

.medium-3.columns{"data-sticky-container" => ""}
  .sticky{"data-anchor" => "content", "data-sticky" => ""}
    %h4
      Song Metadata
    %p
      %b Title:
      = @song.title.titleize
    %p
      %b Orchestra:
      = @song.orchestra.titleize
    %p
      %b Learn more on the web:
      %ul
        %li= link_to "tango.info", "https://tango.info/?q=#{@song.title}"
        %li= link_to "tango-dj.at", "http://www.tango-dj.at/database/index.htm?titlesearch=#{@song.title}"
