!!!
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Tangometa
    %link{:href => "//dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .top-bar
      .top-bar-left
        %ul.menu
          %li.menu-text
            %a{:href => "/"} [TMDD] Tango Meta Dance Database
      .top-bar-right
        %ul.menu
          %li
            %a{:href => artists_url} Artists
            = link_to "+", new_artist_url
          %li
            %a{:href => couples_url} Couples
            = link_to "+", new_couple_url
          %li
            %a{:href => dances_url} Dances
            = link_to "+", new_dance_url
          %li
            %a{:href => songs_path} Music
            = link_to "+", new_song_url
    #content.row
      = yield
